@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Cute+Font&family=Handlee&family=Headland+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:wght@100..900&display=swap');

body{
    background-image: url('assets/BG!.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.startTimer{
    background-image: url('assets/BG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.timer{
    background-image: url('assets/timer.jpg');
    background-repeat: no-repeat;
    background-size: contain; 
}

.hours{
    font-family: "Big Shoulders Stencil", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}